body {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #eee;
}
.feed-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin button[type="submit"] {
  margin-top: 10px;
}
.form-signin .passwordBeforeAdminKey {
  margin-bottom: -1px;
  border-radius: 0;
}
.page-header {
  font-size: 24px;
  text-align: center;
}
.page-text {
  font-size: 20px;
  text-align: left;
}
.outer > p {
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}
.img-center {
  display: inline-block;
  vertical-align: middle;
}
img {
  vertical-align: middle;
}
.div-center {
  text-align: center;
}
.square-edges {
  border-radius: 0 !important;
}
